body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.container {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#pumpkinleft {
    width: 5%;
    padding-right: 100px;
}

#pumpkinmiddle {
    width: 5%;
}

#pumpkinright {
    width: 5%;
    padding-left: 100px;
}

/* my page */
h1 {
    text-align: center;
}

p {
    text-align: center;
}

.filterTitle{
    padding-left: 50px;
}

.filterItems button{
    background-color: #723535;
    color: white;
    border: none;
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 8px;

}

.btn1 {
    margin-left: 50px;
    padding-bottom: 100px;
}

.filterItems button:hover {
  background-color: #F89955;
  font-weight: bold;
  color: black;
}

.filterOptions {
    display: flex;
    margin-left: 50px;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;

    column-count: 6;
    column-gap: 25px;
}

.filterOptions h2{
    color: white;
    background-color: #723535;
    font-size: 14px;
    padding-left: 20px;
    padding: 50;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: thick;
    border-color: #723535;
    margin: 0 auto;
    display: flex;
}

.filterOptions h1{
    color: white;
    background-color: black;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 50;
    border-color: #723535;
    margin: 0 auto;
    display: flex;
}

